@use "<root>/shared/global.scss"  as *;

.newsletter-wrapper{
	@extend .ux-grid;
	grid-template-columns: 0.8fr 0.2fr; 

	height:200px;

	@media screen and (max-width: 830px){
		height:200px;
	}
}




.newsletter-img{
	height: 200px;

	@media screen and (max-width: 830px){
		height:200px;
	}
}
