@use "shared/global.scss"  as *;

// Suckless blog styles
.blog-contents-wrapper{
  max-width: 650px;
  margin: 40px auto;
  padding: 0 20px;
}

h1 {
  margin-bottom: 0.5rem;
}

h2 {
  margin-top:1.5rem;
  margin-bottom:0.5rem;
}

div {
  margin-bottom:0.5rem;
}

a {
  text-decoration: underline;
  font-size:$font-size-xs;
  
  &:hover {
    text-decoration: underline;
  }
}

.no-margin{
  margin-top:0px;
  margin-bottom:0px;
}
