@use "../../../../shared/global.scss"  as *;

.bottom-bar {
	height: 230px;
	border-top: 1px solid black;
	@media screen and (max-width: 980px) {
		height:300px;
	}
}

.bottom-bar-content-wrapper {
    @extend .ux-grid;	
    grid-template-columns: auto; 
    grid-template-rows: 0.9fr 0.1fr;
	margin:10px 20px 0px 20px;
}

.bottom-bar-main-content {
    @extend .ux-grid;	
    grid-template-columns: auto; 
    grid-template-rows: 0.55fr 0.45fr;
	
	border-bottom: 1px solid black;
}

.bottom-bar-main-content-top {
    @extend .ux-grid;	
    grid-template-columns: 0.6fr 0.4fr; 
    grid-template-rows: auto;
	overflow-y:hidden;
	@media screen and (max-width: 830px) {
		display: flex;
		justify-content: center;
		align-items: center;    //(flex-end for bottom align)
		width: 100%;
		height: 100%;
	}
	
}

.page-links-grid {
    @extend .ux-grid;	
    grid-template-columns: auto; 
    grid-template-rows: 0.5fr 0.5fr;
	@media screen and (max-width: 980px) {
		grid-template-rows: 0.33fr 0.33fr 0.33fr;
	}

	@media screen and (max-width: 830px) {
		display:none;
	}
}

.page-links-wrapper {
	display: flex;
}

.page-link {
	background-color: none;
	border: 1px solid black;
	margin: 5px 20px 0px 0px;
	height: 40px;
	border-radius:13px;
	padding:0px 20px 0px 20px;
	display:inline;
	white-space: nowrap;

  overflow-y: hidden;
}

//only show on big screen size (a bit smaller than max. screen size)
.page-link-show-big {
	@extend .page-link;
	display:none;
	@media screen and (max-width: 1250px) {
		display:block;
	}
}

//hide on big screen size (a bit smaller than max. screen size)
.page-link-hide-big {
	@extend .page-link;
	display:auto;
	@media screen and (max-width: 1250px) {
		display:none;
	}
}
//only show on big screen size (a bit smaller than max. screen size)
.page-link-show-med {
	@extend .page-link;
	display:none;
	@media screen and (max-width: 1000px) {
		display:block;
	}
}

//hide on big screen size (a bit smaller than max. screen size)
.page-link-hide-med {
	@extend .page-link;
	display:auto;
	@media screen and (max-width: 1000px) {
		display:none;
	}
}

.page-link-show-small{
	@extend .page-link;
	display:none;
	@media screen and (max-width: 980px) {
		display:block;
	}
}

//hide on big screen size (a bit smaller than max. screen size)
.page-link-hide-small {
	@extend .page-link;
	display:auto;
	@media screen and (max-width: 980px) {
		display:none;
	}
}
.show-big{
	display:none;
	@media screen and (max-width: 1250px) {
		display:block;
	}
}

//hide on big screen size (a bit smaller than max. screen size)
.hide-big{
	display:auto;
	@media screen and (max-width: 1250px) {
		display:none;
	}
}
.show-med{
	display:none;
	@media screen and (max-width: 1000px) {
		display:block;
	}
}

//hide on big screen size (a bit smaller than max. screen size)
.hide-med{
	display:auto;
	@media screen and (max-width: 1000px) {
		display:none;
	}
}

.show-small{
	display:none;
	@media screen and (max-width: 980px) {
		display:block;
	}
}

//hide on big screen size (a bit smaller than max. screen size)
.hide-small {
	display:auto;
	@media screen and (max-width: 980px) {
		display:none;
	}
}

.page-link-arrow{
	display: inline;
	height: 12px;

	  overflow-y: hidden;
}


.partner-logos-wrapper{
	@extend .ux-grid;
    grid-template-columns: 0.35fr 0.65fr; 
    grid-template-rows: auto;
	overflow-y:hidden;
	overflow-x:hidden;
	width:100%;

	@media screen and (max-width: 830px) {
		width:70%;
	}
	@media screen and (max-width: 790px) {
		width:100%;
	}
}

.bottom-bar-bottom-wrapper{
	overflow-y:hidden;
	@media screen and (max-width: 830px) {
		display: flex;
		justify-content: center;
		align-items: center;    //(flex-end for bottom align)
		width: 100%;
		height: 100%;
	}
}

.bottom-bar-main-content-bottom {
    @extend .ux-grid;	
    grid-template-columns: 0.075fr 0.075fr 0.075fr 0.075fr 0.70fr; 
    grid-template-rows: auto;

	@media screen and (max-width: 830px) {
		display: flex;
		justify-content: center;
		align-items: center;    //(flex-end for bottom align)
		width: 100%;
		height: 100%;
	}
}

.rights-declaration {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: $font-size-xs;
}

.social-logo-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 20px 10px 10px 10px;
}

.social-logo{
	width: auto;
	max-width:60px;
	min-width:60px;
	height: auto;
	  overflow-y: hidden;
}

.partner-img-wrapper{
	margin: 0px 10px 0px 10px;

	display: flex;
	justify-content: center;
	align-items: center;    
	width: 100%;
	height: 100%;
	overflow-y:hidden;
	overflow-x:hidden;
}

.partner-img{
	max-width: calc(100% - 20px); /* This is 100% - margin of the wrapper. should change 20px to partner-img-wrapper-margin in future */
}
